{% assign category_name = include.category_name %}
{% assign show_count = include.show_count | default: false %}
{% assign category_slug = category_name | slugify %}
{% capture category_url %}{{ site.baseurl }}{{ site.category_dir }}/{{ category_slug }}{% endcapture %}
{% assign tag_hue = category_name | size | modulo: 8 %}
<a class="tag-pill tag-pill--{{ tag_hue }}" href="{{ category_url | strip | relative_url }}">{{ category_name }}{% if show_count %} ({{ site.tags[category_name].size }}){% endif %}</a>