.page-post {
  .title {
    h1 {
      font-weight: 500;
    }
  }
  .heading {
    .heading-image {
      margin-top: 20px;
      img {
        width: 100%;
        max-height: 560px;
        object-fit: cover;
      }
    }
  }
  .categories {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    .category-link {
      display: inline-flex;
      a {
        font-size: 13px;
        background: var(--color-base-bg-3);
        color: var(--color-base-text);
        display: inline-flex;
        align-items: center;
        font-family: $font-family-monospace;
        font-weight: 600;
        line-height: 1.1;
        padding: 6px 12px;
        border: 1px solid var(--color-base-bg-3);
        border-radius: 999px;
        &:hover {
          text-decoration: none;
          background: var(--color-base-bg-2);
          border-color: var(--color-base-text-2);
        }
      }
    }
  }
}
