---
layout: default
body_classes: page-category
---

<div class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        {% include framework/heading.html
          title=page.title
          description=page.description
          image=page.image
          badge="category"
        %}
      </div>
    </div>
  </div>
</div>

<div class="section pt-0">
  <div class="container">
    {% assign category = page.title %}
    {% for post in site.tags[category] %}
      {% assign post_thumbnail = post.thumbnail | default: post.image %}
      {% assign post_date = post.date | date: "%Y-%m-%d" %}
      <div class="row">
        <div class="col-12 col-md-8 mb-2">
          {% include theme/cards/card-post.html 
            title=post.title
            date=post_date
            description=post.description 
            thumbnail=post_thumbnail
            authors=post.authors
            author=post.author
            categories=post.tags
            url=post.url 
            style="list"
          %}
        </div>
      </div>
    {% endfor %}
  </div>
