---
layout: default
body_classes: page-home
---

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {% include framework/heading.html
        title=page.title
        description=page.description
        %}
      </div>
    </div>
  </div>
</div>

{% assign cards = site.projects | sort: 'date' | reverse %}
{% assign limit = page.projects.limit | default: 3 %}
{% assign sort_by = page.projects.sort | default: 'date' %}
{% assign columns =  page.projects.columns | default: 3 %}
{% capture columns %}col-lg-{{ 12 | divided_by:columns }}{% endcapture %}
{% if sort_by == 'weight' %}
  {% assign cards = cards | sort: 'weight' %}
{% endif %}

{% assign cards = site.projects %}
{% if cards.size > 0 %}
<div class="section pt-0">
  <div class="container">
    <div class="row">

      {% include framework/grid-header.html 
        heading=page.projects.heading 
        sub_heading=page.projects.sub_heading 
      %}
     
      {% for card in cards limit: limit %}
      <div
        class="col-12 col-md-6 {{ columns }} mb-gutter mt-gutter {% if forloop.first %}mt-0{% endif %} {% if forloop.last %}mb-0{% endif %} mt-md-0">
        {% include theme/cards/card-project.html
          title=card.title
          description=card.description
          thumbnail=card.thumbnail
          categories=card.categories
          date=card.date
          url=card.url
          client=card.client
        %}
      </div>
      {% endfor %}

      {% include framework/grid-footer.html 
        view_more_button_text=page.projects.view_more_button_text
        view_more_button_link=page.projects.view_more_button_link
        align="right"
        icon="fa-arrow-right"
      %}

    </div>
  </div>
</div>
{% endif %}

{% assign cards = site.posts | sort: 'date' | reverse %}
{% assign limit = page.posts.limit | default: 3 %}
{% assign sort_by = page.posts.sort | default: 'date' %}
{% assign columns =  page.posts.columns | default: 3 %}
{% capture columns %}col-lg-{{ 12 | divided_by:columns }}{% endcapture %}
{% if sort_by == 'weight' %}
  {% assign cards = cards | sort: 'weight' %}
{% endif %}

{% assign cards = cards %}
{% if cards.size > 0 %}
<div class="section section-base-bg-2">
  <div class="container">
    <div class="row">

      {% include framework/grid-header.html 
        heading=page.posts.heading 
        sub_heading=page.posts.sub_heading 
      %}

      {% for card in cards limit: limit %}
      {% assign card_thumbnail = card.thumbnail | default: card.image %}
      {% assign card_date = card.date | date: "%Y-%m-%d" %}
      <div class="col-12 col-md-4 {{ columns }} {% if forloop.first %}mt-0{% endif %} {% if forloop.last %}mb-0{% endif %} mb-3 mb-md-6">
        {% include theme/cards/card-post.html
          date=card_date
          title=card.title
          description=card.description
          thumbnail=card_thumbnail
          authors=card.authors
          author=card.author
          categories=card.tags
          url=card.url
        %}
      </div>
      {% endfor %}

      {% include framework/grid-footer.html 
        view_more_button_text=page.posts.view_more_button_text
        view_more_button_link=page.posts.view_more_button_link
        align="right"
        icon="fa-arrow-right"
      %}

    </div>
  </div>
</div>
{% endif %}

{% if site.newsletter.mailchimp.form_action_url and site.newsletter.mailchimp.form_action_url != '' %}
  <div class="section section-base-bg-2">
    <div class="container">
      <div class="row">
        <div class="col-12"></div>
        {% include framework/subscribe.html %}
        </div>
      </div>
    </div>
  </div>
{% endif %}
