---
layout: default
body_classes: page-post
---

<div class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        {% include framework/heading.html
          title=page.title
          description=page.description
          image=page.image
        %}
      </div>
    </div>
  </div>
</div>

<div class="section pt-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        
        {% assign post_authors = page.authors %}
        {% if page.author and post_authors == nil %}
          {% assign post_authors = page.author | split: "," %}
        {% endif %}

        {% if post_authors %}
          <div class="mb-2">
          {% for author in post_authors %}
            {% include framework/author.html 
            author=author
            style='row'
            show_author_name=true
          %}
          {% endfor %}
          </div>
        {% endif %}

        {% if page.date %}
          <div class="post-date mb-2" style="color: var(--color-base-text-2); font-size: 0.9rem;">
            {{ page.date | date_to_long_string }}
          </div>
        {% endif %}

        {% if page.tags %}
        <div class="categories mb-4">
        {% include framework/categories-badges.html 
            categories=page.tags
        %}
        </div>
        {% endif %}

        <div class="content">{{ content }}</div>
        </div>

        {% include framework/comments.html %}

      </div>
    </div>
  </div>
</div>

{% if site.newsletter.mailchimp.form_action_url and site.newsletter.mailchimp.form_action_url != '' %}
  <div class="section section-base-bg-2">
    <div class="container">
      <div class="row">
        <div class="col-12"></div>
        {% include framework/subscribe.html %}
        </div>
      </div>
    </div>
  </div>
{% endif %}
