---
layout: default
body_classes: page-projects
---

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {% include framework/heading.html
          title=page.title
          description=page.description
        %}
      </div>
    </div>
  </div>
</div>


{% assign cards = site.projects | sort: 'date' | reverse %}
{% assign limit = page.projects.limit | default: 999 %}
{% assign sort_by = page.projects.sort | default: 'date' %}
{% assign columns =  page.projects.columns | default: 3 %}
{% capture columns %}col-lg-{{ 12 | divided_by:columns }}{% endcapture %}
{% if sort_by == 'weight' %}
  {% assign cards = cards | sort: 'weight' %}
{% endif %}

{% assign cards = site.projects %}
{% if cards.size > 0 %}
<div class="section pt-0">
  <div class="container">
    <div class="row">

      {% include framework/grid-header.html 
        heading=page.projects.heading 
        sub_heading=page.projects.sub_heading 
      %}
     
      {% for card in cards limit: limit %}
      <div
        class="col-12 col-md-6 {{ columns }} mb-gutter mt-gutter {% if forloop.first %}mt-0{% endif %} {% if forloop.last %}mb-0{% endif %} mt-md-0">
        {% include theme/cards/card-project.html
          title=card.title
          description=card.description
          thumbnail=card.thumbnail
          categories=card.categories
          date=card.date
          url=card.url
          client=card.client
        %}
      </div>
      {% endfor %}

      {% include framework/grid-footer.html 
        view_more_button_text=page.projects.view_more_button_text
        view_more_button_link=page.projects.view_more_button_link
        align="right"
        icon="fa-arrow-right"
      %}

    </div>
  </div>
</div>
{% endif %}